<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mini-Notion</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Header -->
    <!-- Header -->
    <div id="global-header">
      <div class="headerdiv">
        <div id="logoNote">
          <img src="./notas.png" alt="" /><span>mini-Notion</span>
        </div>
        <div class="darkLight">
          <i class="bx bx-moon moon"></i>
          <i class="bx bx-sun sun"></i>
        </div>
      </div>
    </div>

    <!-- Criar uma anotação {Titulo, Conteúdo, adicionar nota} lista deletar e editar-->
    <!-- From Uiverse.io by mamyapro123 -->
    <div class="doodle-wrapper">
      <!-- CARD NUMBER 1 -->
      <div class="doodle-card-scene">
        <div class="doodle-card-inner">
          <div class="doodle-card-front">
            <div class="doodle-title">Bloco de notas</div>
            <form id="form-nota" action="#" method="post">
              <div class="doodle-input-wrapper">
                <input type="hidden" id="nota-id" />
                <input
                  class="doodle-input"
                  id="titulo-form"
                  name="titulo"
                  placeholder="Título"
                  onfocus="this.placeholder = 'Título'"
                  type="text"
                />
              </div>
              <div class="doodle-input-wrapper">
                <textarea
                  class="doodle-input"
                  id="conteudo-form"
                  name="conteudo"
                  placeholder="Conteúdo"
                  onfocus="this.placeholder = 'Conteúdo'"
                ></textarea>
              </div>
              <button class="doodle-btn" type="submit" onclick="temp()">
                Salvar nota
              </button>

              <hr />

              <div>
                <ul id="lista-notas">
                  <!-- JavaScript irá preencher com <li> -->
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- ==== FIM DO FORMULÀRIO ==== -->

    <!-- Footer -->
    <footer id="footer">
      <p>&copy; 2026 mini-Notion. Todos os direitos reservados.</p>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
